/* ------- main conteneurs ------- */
body{
    padding:0px;
    margin:0px;
    background: #b0a48d; /* Old browsers */
    background: -moz-linear-gradient(left, #f2f6f8 2%, #f2f6f8 2%, #d8e1e7 50%, #f2f6f8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f2f6f8 2%,#f2f6f8 2%,#d8e1e7 50%,#f2f6f8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f2f6f8 2%,#f2f6f8 2%,#d8e1e7 60%,#f2f6f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 */
}

#boxH{
    width:auto; 
    height:30px;
    max-width:1900px;
    padding-top:5px;
    padding-left:10px;
    margin-top:15px;
    margin-bottom:40px;
    background: #a9bfc9; /* Old browsers */
    background: -moz-linear-gradient(top, #a9bfc9 0%, #95b1bd 50%, #85a2ad 51%, #537585 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a9bfc9 0%,#95b1bd 50%,#85a2ad 51%,#537585 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a9bfc9 0%,#95b1bd 50%,#85a2ad 51%,#537585 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: -3px 17px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 17px 14px -10px rgba(0,0,0,0.75);
    box-shadow: -3px 17px 14px -10px rgba(0,0,0,0.75);
    border-width:1px 1px 1px 1px;
    border-style:solid ;
    border-color:gray;
}

#top {
    position:fixed;
    z-index:3;
    height:60px;
    top:0;
    right:0;	
} 

#mainConteneur{
    width:100%; 
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;	
}

#centre {
    max-width:1200px;
    min-height:350px;  
    margin-left:100px; 
    margin-bottom:50px;
    font-size:13px;  
} 

#centre2{
    max-width:1200px;    
    margin-left:100px; 
    margin-bottom:50px;
    font-size:13px;  
} 

h3{
    margin:0;
    color:black;	
    text-shadow: 2px 2px 2px gray; 
    font-size:15px; 
}


/* ------- images ------- */
#change1:hover{
    cursor:pointer;
    color:burlywood;
}

#change2:hover{ 
    cursor:pointer;
    color:darkkhaki;
}

#croix{
   cursor:pointer;
   float:right;  
}

#croix:hover{
    cursor:pointer;
    opacity: 0.5;
}

#croix2{ 
    cursor:pointer;
    float:right;  
}

#croix2:hover{
    cursor:pointer; 
    opacity: 0.5;
}


/* ------- main dépense ------- */
#mainDepense{
    margin-top: 30px;   
}

#total{
    background-color:burlywood; 
    background-repeat:repeat; 
    border:1px solid gray;    

}

#somme,#salMoy {  
   font-style: italic;
   margin-top:10px;
   color:midnightblue; 
   font-size:14px;
}


#pair{
    background-image:url(images/fondFieldset.png);
    background-repeat:repeat;
    border:1px solid gray;   
}

#impair{
    background-color:silver; 
    background-repeat:repeat; 
    border:1px solid gray;  
}



/* ------- infoBulle ------- */ 
#fieldset3{ 
    width:100px; 
    border:0px;
    background-image:url(images/fondFieldset.png);
    background-repeat:repeat; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; 
}

#infoBulleBox {
    position:fixed;
    z-index:3;
    margin-top :10px;
    margin-left :1000px;
}

marquee{
    width:170px; 
    height:100px;  
    /*overflow: scroll;	 // Ascenseur*/ 
}

#barre2{ 
    height:1px;	
    background-color:black;
    background-repeat:repeat;
}



/* ------- info a enregister ------- */ 
textarea{
    width:700px;
    height:300px;
    margin-top:10px;
    resize:none; 
    background-image:url(images/fondTextArea.png);
    background-repeat: repeat;
}

.bouton{
    width:140px;
    height:30px;
    color:white;
    margin-top:10px;
    border-radius: 6px; cursor:pointer;
    border:0px;
    background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 60%);
    box-shadow: 1px 1px 30px rgba(2,119,189 ,1); 
}

.bouton:hover{
    opacity: 0.5; 
   
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
}



/* ------- tableau visualisation compte------- */

td{
   width:140px;    
}

#afficherTableau{
    width:985px;     
    margin-left:30px;
}

#table1{	   	                    
    font-size:13px;
    text-align:center;
}

.titremois, .fondMois{
    background: rgb(139,173,211); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(139,173,211,1) 0%, rgba(164,196,222,1) 50%, rgba(153,189,221,1) 51%, rgba(200,220,236,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(139,173,211,1) 0%,rgba(164,196,222,1) 50%,rgba(153,189,221,1) 51%,rgba(200,220,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(139,173,211,1) 0%,rgba(164,196,222,1) 50%,rgba(153,189,221,1) 51%,rgba(200,220,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8badd3', endColorstr='#c8dcec',GradientType=0 ); /* IE6-9 */
    border:1px solid gray;   
}

.fondMois{    
    font-style: italic;
    font-weight: bold;
}

.fondTAutreTitre{
    background-color:silver;
    background-repeat:repeat;
    border:1px solid gray;    
}

.fondDonneeS, .fondDonneeB, .fondDonneeD, .fondDonnee, .fondDonneeA, .fondDonneeBN {
    background: rgb(227,233,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(227,233,237,1) 0%, rgba(219,225,229,1) 10%, rgba(206,212,218,1) 25%, rgba(206,213,220,1) 37%, rgba(208,215,222,1) 50%, rgba(191,200,209,1) 51%, rgba(217,225,229,1) 83%, rgba(229,237,239,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(227,233,237,1) 0%,rgba(219,225,229,1) 10%,rgba(206,212,218,1) 25%,rgba(206,213,220,1) 37%,rgba(208,215,222,1) 50%,rgba(191,200,209,1) 51%,rgba(217,225,229,1) 83%,rgba(229,237,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(227,233,237,1) 0%,rgba(219,225,229,1) 10%,rgba(206,212,218,1) 25%,rgba(206,213,220,1) 37%,rgba(208,215,222,1) 50%,rgba(191,200,209,1) 51%,rgba(217,225,229,1) 83%,rgba(229,237,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e9ed', endColorstr='#e5edef',GradientType=0 ); /* IE6-9 */
    font-style: italic;  
    border:1px solid silver;  
    font-size:16px; 
    font-family:"Cursive", times, serif;
    font-weight: bold;
}

.fondDonneeS {
    color:#314844;
}

.fondDonneeB {
    color:#047263;
}

.fondDonneeBN {
    color:red;
}

.fondDonneeD {
    color:#02322B;
}

.hover:hover .fondDonnee {
    color:white;
}




/* ------- liste d'année ------- */ 

.fondDonneeA{ 
    cursor:pointer;  
}

.fondDonneeA:hover{
    cursor:pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}




/* ------- fielset ------- */ 

#fieldset{  
    border:1px solid gray;  
    margin-top:10px;  
    background-image:url(images/fondFieldset.png);
    background-repeat:repeat;
}

#fieldset2{ 
    border:1px solid gray;  
    background-image:url(images/fondFieldset.png);
    background-repeat:repeat;
}
legend{
    font-weight:bold;
}

#fieldsetBlocCopier{
    float:right;
    width:300px;
}
#change {
    cursor:pointer;
}
#imgAdd{
    margin-left:10px;
    margin-right:10px;
}

#imgAdd:hover{
    cursor:pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); 
}





/* ------- identification ------- */ 

.login{
    box-shadow:1px 1px 1px #D83F3D;background-color:#FFF3F3;
    
}

.mdp{
    background-color:#FFF3F3;
    box-shadow:1px 1px 1px #D83F3D;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}



/* ------- footer ------- */ 
#footer{
    position:fixed;	
    z-index:3;
    bottom:0;	
    width:100%;
    height:30px;
    background: rgb(157,157,157); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157,157,157,1) 0%, rgba(164,164,164,1) 12%, rgba(171,171,171,1) 25%, rgba(154,154,154,1) 39%, rgba(139,139,139,1) 50%, rgba(115,115,115,1) 51%, rgba(124,124,124,1) 60%, rgba(138,138,138,1) 76%, rgba(130,130,130,1) 91%, rgba(125,125,125,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(157,157,157,1) 0%,rgba(164,164,164,1) 12%,rgba(171,171,171,1) 25%,rgba(154,154,154,1) 39%,rgba(139,139,139,1) 50%,rgba(115,115,115,1) 51%,rgba(124,124,124,1) 60%,rgba(138,138,138,1) 76%,rgba(130,130,130,1) 91%,rgba(125,125,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(157,157,157,1) 0%,rgba(164,164,164,1) 12%,rgba(171,171,171,1) 25%,rgba(154,154,154,1) 39%,rgba(139,139,139,1) 50%,rgba(115,115,115,1) 51%,rgba(124,124,124,1) 60%,rgba(138,138,138,1) 76%,rgba(130,130,130,1) 91%,rgba(125,125,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d9d9d', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */
    text-align:center;  border:1px solid black;
    color:white;	
}
.version{
    font-size:11px;
    margin-top:10px;
    text-shadow: 2px 2px 2px black;
}
.signature{
    float:right;
    margin-top:10px;
    margin-right:10px;
    font-size:0.6em;
    text-shadow: 2px 2px 2px black;
}
.titre{
    margin-bottom:50px;
}


#barreG{
    position:fixed;/*met une position fixe*/
    z-index:2;/*superposition. utlisable avec position seulement*/
    width:60px; 
    height:100%;/*taille de l'ecran entier meme en zoomant*/
    left:0;/*place l'element sur la page*/
    top:0;
    background-color:black;
    background-repeat:repeat;
    border-right:1px solid silver;
}

#barreD{
    position:fixed;
    z-index:2;
    width:60px; 
    height:100%;
    top:0;
    right:0;
    background-color:black;
    background-repeat:repeat;
    border-left:1px solid silver;
}

/*#barreG{
        float:left;
        width:10%; 
        height:100%;
        background-image:url(images/fondT3.png);	
        background-repeat:repeat;
}
#barreD{
        float:right;
        width:10%; 
        height:100%;
        background-image:url(images/fondT3.png);	
        background-repeat:repeat;
}
#footer{
        clear:both; 
        width:100%; 
        height:60px;
        background-image:url(images/fondT3.png);	
        background-repeat:repeat-x;
        text-align:center;
        color:white;	
}
*/

    /*-moz-border-radius: 20px;
    border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-bottom: 1px solid #fff;
}*/
/**/

